
<mat-card>
  <div fxLayout="row">
    <div fxFlex="100" fxLayout="column" fxLayout.xs="row">
      <div fxLayout="row">
        <button mat-raised-button="mat-raised-button" color="primary" (click)="save()">保存</button>
      </div>
      <div fxFlex="40" fxLayout="row" fxLayout.xs="column">
        <div fxFlex="100">
          <mat-card-title>
            Master&nbsp;<a class="with-link" id="master-exports" target="_blank" (click)="exports('master-exports', 'master-contents', 'master.json')">exports</a>&nbsp;<br />imports&nbsp;
            <input class="with-link" id="master-imports" type="file" (click)="imports('master-imports', 'master-contents')" value="imports"/>
          </mat-card-title>
          <mat-card-content>
            <textarea [(ngModel)]="masterString" id="master-contents" rows="80" cols="80"></textarea>
          </mat-card-content>
        </div>
      </div>
    </div>
  </div>
</mat-card>