h4 {
  margin-bottom: 0!important;
}

.mat-card-title {
  margin-top: 4px!important;
  margin-bottom: 4px!important;
}

.with-link {
  text-decoration: underline !important;
  cursor: pointer;
  color: #1969b5 !important;
}
