
<mat-card [style.display]="'flex'" [formGroup]="parentGroup">
  <mat-card-content [formArrayName]="option.key" style="margin:0; padding:0;">
    <ng-container *ngFor="let w of pGroup; let i=index">
      <ul class="input-list horizontal-list" [formGroup]="pGroup[i]">
        <li *ngIf="parentGroup.controls[option.key].controls.length &gt; 1">
          <mat-icon (click)="jsf.removeItem(parentGroup, option.key, i)">{{closeButton}}   </mat-icon>
        </li>
        <li>
          <mat-input-container>
            <input matInput="matInput" placeholder="{{option.items[0].title | mk_ng2_i18n: page.pageID}}" id="{{option.items[0].key}}" [style.width]="option.items[0].width" (focusout)="focusOutFunction(option.items[0].key)" [formControlName]="option.items[0].key"/>
            <mat-hint align="end">{{ option.items[0].hint | mk_ng2_i18n: page.pageID }}</mat-hint>
            <mat-error>{{ formErrors[option.items[0].key] }}</mat-error>
          </mat-input-container>
        </li>
        <li>
          <mat-input-container>
            <input matInput="matInput" placeholder="{{option.items[1].title | mk_ng2_i18n: page.pageID}}" id="{{option.items[1].key}}" [style.width]="option.items[1].width" (focusout)="focusOutFunction(option.items[1].key)" [formControlName]="option.items[1].key"/>
            <mat-hint align="end">{{ option.items[1].hint | mk_ng2_i18n: page.pageID }}</mat-hint>
            <mat-error>{{ formErrors[option.items[1].key] }}</mat-error>
          </mat-input-container>
        </li>
      </ul>
    </ng-container>
  </mat-card-content>
</mat-card>
<div><a (click)="jsf.addItem(schema, parentGroup.controls, option.key, data)" style="cursor: pointer;">custmize add +++</a></div>