auto-form div form {
  border: 1px solid red;
  background: #ff00ff;
}

.full-width {
  width: 100%;
  margin: 0px 4px;
}

.result {
  margin: 0px 40px;
}

h4 {
  margin-bottom: 0!important;
}

.mat-card-title {
  margin-top: 4px!important;
  margin-bottom: 4px!important;
}

.with-link {
  text-decoration: underline !important;
  cursor: pointer;
  color: #1969b5 !important;
}

mat-card-title {
  font-size: 14.5px;
}

// :host ::ng-deep .mk-radio-wrap,
// :host ::ng-deep .mk-toggle-wrap {
//   margin-bottom: 8px;
// }

// :host ::ng-deep material2-section .note-class {
//   color: #f00;
// }

// :host ::ng-deep .mk-wrapper-content material2-section .note-class {
//   color: #00f;
// }

// :host ::ng-deep .mk-section-title-wrap {
//   color: #f0f;
//   margin: 10px!important;
// }

// for tooltip
::ng-deep .mat-tooltip  {
  max-width: 60px !important; // for example
}
