
<div id="wrap">
  <mat-toolbar color="primary">
    <button mat-button="" routerLink="/">
      <mat-icon>home </mat-icon>&nbsp;{{title}}
    </button><span class="fill-remaining-space"></span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm="fxShow.gt-sm">
      <button mat-button="mat-button" routerLink="/auto-form">フォーム自動生成</button>
      <button mat-button="mat-button" routerLink="/message">メッセージ</button>
      <button mat-button="mat-button" routerLink="/master">マスタ</button>
    </div>
    <button mat-button="mat-button" [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm="fxHide.gt-sm">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item="mat-menu-item" routerLink="/auto-form">フォーム自動生成</button>
    <button mat-menu-item="mat-menu-item" routerLink="/message">メッセージ</button>
    <button mat-menu-item="mat-menu-item" routerLink="/master">マスタ</button>
  </mat-menu>
  <div id="contents">
    <router-outlet></router-outlet>
  </div>
  <mat-toolbar class="footer">footer</mat-toolbar>
</div>