/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
// @import '~@angular/material/prebuilt-themes/purple-green.css';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

/*
mat-card {
  max-width: 80%;
  margin: 2em auto;
  //- text-align: center;
}

.mat-input-wrapper {
  position: relative;
  margin: 0px 4px;
}

.mat-select-value {
  margin: 0px 12px 0px 4px;
}

.mat-select-trigger {
  margin: 17px 0px 0px 0px;
}

mat-toolbar-row {
  justify-content: space-between;
}
*/

.done {
  position: absolute;
  bottom: 100px;
  right: 100px;
  color: white;
}

// フッター下部固定
html,body{
  height:100%;
}
#wrap{
  width: 100%;
  position: relative;
  height:auto !important; /*IE6対策*/
  height: 100%; /*IE6対策*/
  min-height: 100%;
}
#contents{
  padding-bottom:140px; /*フッターの高さと同じ*/
}
.footer{
  height:20px;
  position:absolute;
  bottom:0;
}



.title-class {
  color: #f00;
}

.note-class {
  color: #0f0;
}
